# Tirgul 3

## Add nice equations using LaTEX syntax in Markdown
### Sphere or Quadratic equations::
$ x^2 + y^2 = z^2 \\$
$ \\ x_1,_2 =  \frac{- b\pm \sqrt{b^2-4ac}}{2a} $

In [20]:
import pandas as pd
data = pd.read_csv('titanic_short.csv')
data.head()

  pclass  survived      age     sex
0    1st         1  29.0000  female
1    1st         0   2.0000  female
2    1st         0  30.0000    male
3    1st         0  25.0000  female
4    1st         1   0.9167    male

In [2]:
# not null
filteredData = data[pd.notnull(data['age'])]
filteredData[10:19]

   pclass  survived   age     sex
10    1st         0  47.0    male
11    1st         1  19.0  female
15    1st         1  50.0  female
16    1st         0  24.0    male
17    1st         0  36.0    male
18    1st         1  37.0    male
20    1st         1  26.0    male
21    1st         0  25.0    male
23    1st         1  19.0  female

In [3]:
# Mean
dataAge = data['age']
dataAge.mean()

34.90942173913044

In [4]:
dataAge.min()

0.9167

In [5]:
dataAge.max()

71.0

In [6]:
dataAge.median()

30.0

## Numpy
Matrices and much more, this is where the fun begins..

[Numpy official docs](https://numpy.org/doc/stable/reference/index.html)

In [8]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr*arr)

[ 1  4  9 16 25]

In [ ]:
#### vector multiplication (AKA dot producdt)
print("arr.dot(arr)\t=",arr.dot(arr))
# or by 
print("arr@arr\t\t=",arr@arr)

In [ ]:
# create ones matrix of specific size:
np.ones((2,3))

In [ ]:
# self excercise: create zeros matrix of specific size:

In [ ]:
np.zeros((2,3))

In [ ]:
# The I matrix
d = np.eye(3)
print(d)

In [ ]:
# self excercise: create the following 3X3 diagonal matrix
#  [1., 0., 0.],
#  [0., 2., 0.],
#  [0., 0., 3.]

In [21]:
print([1,2,3]*np.eye(3))

[[1. 0. 0.]
 [0. 2. 0.]
 [0. 0. 3.]]

In [22]:
# Another Way
print(np.diag([1,2,3]))

[[1 0 0]
 [0 2 0]
 [0 0 3]]

In [34]:
# random
e = np.random.random((2,4)) 
print(e)

[[0.02945835 0.12904749 0.15490786 0.85034983]
 [0.70968749 0.18958819 0.84031437 0.89609826]]

In [8]:
# append
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([11, 12, 13, 14, 15])
arr3 = np.append(arr1,arr2)
print(arr3)

[ 1  2  3  4  5 11 12 13 14 15]

In [9]:
# we can add arrays of same shape
print(arr1+arr2)

[12 14 16 18 20]

In [31]:
# However arrays must have same size
arr3 = np.array([1,2])
print(arr1+arr3) # ERROR

ValueError: operands could not be broadcast together with shapes (5,) (2,)

In [17]:
# self excercise: Assume hypothethical case where you wish for each student to calculate average of the highest 5 grades out of 6 student's assignment
# step 1. generate 10X6 random integer numbers between 70 to 100 to represent students grades
# step 2. calculate mean of top 5 grades for each student

In [18]:
numCols = 6
grades = np.random.randint(70,100,size=(10,numCols))
print(grades)

[[95 84 88 78 75 91]
 [99 76 89 74 84 82]
 [85 74 79 97 74 90]
 [83 70 76 70 98 86]
 [74 92 95 75 79 93]
 [89 79 92 79 75 86]
 [93 78 98 77 90 84]
 [87 77 85 80 85 97]
 [77 96 89 77 98 74]
 [82 86 78 92 90 98]]

In [19]:
top5Avg = (grades.sum(axis=1)-grades.min(axis=1)) / (numCols-1)
top5Avg = top5Avg.reshape(len(top5Avg),1)
print(top5Avg)

[[87.2]
 [86. ]
 [85. ]
 [82.6]
 [86.8]
 [85. ]
 [88.6]
 [86.8]
 [87.4]
 [89.6]]